body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imagem {
    background-image: url('/img/emabada.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 95vh;
    z-index: 0;
    justify-content: center;

}

h1#title {
    text-align: center;
    color: white;
    font-family: 'Mooli', sans-serif; 
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.barra_pesquisa {
    padding: 20vw;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px; 

}

.barra_pesquisa input[type="text"] {
    padding: 30px;
    border: none;
    border-radius: 30px;
    width: 300px; 
    font-family: 'Mooli', sans-serif;
}

.barra_pesquisa i {
    position: absolute;
    bottom: 35vh; 
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
    font-size: 40px;
    color: white;
}

.barra_pesquisa i:hover {
    transform: translateX(-50%) scale(1.5); /* Aumenta o tamanho do ícone quando o mouse passa por cima */
}

.todos {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-family: 'Mooli', sans-serif;

}

.cabeçalho {
    width: 100%;
    background-color: rgba(40, 205, 40, 0.1);
    padding: 25px 0;
    text-align: left;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1;
}


