@import url('');


 body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
 }

 /* body {
  margin: 0;
  padding:0;
  background-image: url('img/homeGreem.png');
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
/* } */
 /* topo */
 header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color:transparent;
  background:transparent;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  transition: background-color 0.3s ease; 
  
}

header a {
  text-decoration: none;
  color:white;
}

.header-left {
  position: relative;
  width: 20%;
  min-width: 200px;
  height: auto;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
  margin-left:20%;
  border-radius:10px;

  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 6px 0px rgba(0 0 0 / 90%));

  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

}




.logo:hover{
  border: none;
  transition: none;
 animation: none;
}

.header-right {
  position: relative;
  width: 60%;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

/* 01101010 01101111 01101110  */


.header-scroll {
  background-color:rgb(46,139,87,0.8);
}

.header-right ul {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5%;

}

 ul li {
  float: left;
  width: auto;
  font-size: 22px;
  list-style: none;
  background-color: transparent;
  color:#ffffff;
  font-family: 'Lilita One', cursive;
  text-shadow: 1px 1px 0px black;
  cursor: pointer;
}


header a:hover {
  /*color: linear-gradient(#8e6f14,#cbb26a,#8e6f14);*/
 color: #106210;
 transition: all 1s ease;
 border: #106210 solid 1px;
 border-top:none;
 border-right:none;
 border-left:none;
 transition: all 1s;
 animation: slide-in 3s ease-out forwards;
 
}

#login{
  border: solid black 1px;
  border-radius:50px;
  height:40px;
  width: 130px;
  margin-right:4%;
  padding-bottom:6px;
  background: #106210;
  color:white;
  font-family: 'Lilita One', cursive;
  font-size: 22px;
  cursor: pointer;
  text-align:center;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
  text-decoration: none;
}

#login:hover{
  background: #90EE90;
  color:black;
  transition: all 1s;

}

#TelaPrincipal {
  background-image: url('img/homeGreem.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 94vh; 
  position: absolute; 
  z-index: 1;
  padding-left:9%;
}

#TelaPrincipal {
  width: 100%;
  height: flex;
}
/*tela principal*/
/* #TelaPrincipal{
  background-image: url('img/homeGreem.png');
  background-repeat: no-repeat; 
  background-size: contain;
  background-position: center center;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
}  */

 .vid {
  height:725px;
  display: flex;
  margin-top:10%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  background:transparent;
  position: absolute;
  width:100%;
  z-index:1;
  
}

.vid iframe{
  border-radius:50px 0px 0px 50px;
  border-right:none;
  width:38%;
  height:410px;
  margin-bottom:3%;
  margin-left:57%;
} 

/*buscador de pontos de coleta*/

.Iabree{
  width:99%;
  position: absolute;
  height:200px;
  top: 25vh;
  z-index: -1;
}

#abree{
  padding-top:30px;
  height:1767px;
  width:100%;
}
/*Lista de descarte*/
#Descarte{
  top: 200vh;
  position: absolute;
  z-index: 4;
  display: flex;
  justify-items: start;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle, rgb(89, 174, 44) 100%, rgb(34, 155, 23) 0%);
  color:white;
  width:60%;
  height:720px;
  font-family: 'Lilita One', cursive;
  text-align:center;
  
}

#Descarte h1{
  margin-top:20%;

}

#Descarte p{
  font-size:18px;
  text-align:start;

}

#Descarte button{
  font-size:16px;
  height:40px;
  background: #106210;
  color:white;
  font-family: 'Lilita One', cursive;
  cursor: pointer;
  border-radius:20px;
  border:solid black 1px;

}

#Descarte button:hover{
  background: #90EE90;
  color:black;
  transition: all 1s;

}


#imagemDescarte{
    top: 200vh;
    position: absolute;
    z-index: 4;
    display: block;
    justify-items: start;
    background-color: rgb(248,248,255);
    color: white;
    width: 100%;
    height: 720px;
    margin-left: 60%;
    justify-content: space-around;
    align-items: center;
    padding-left:3%;

    pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
 /*========SCROLL==========*/
 ::-webkit-scrollbar {
  width: 13px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgb(89, 174, 44),
    rgb(34, 155, 23));
    border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #474747;
}



/*fotter*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgb(71, 176, 14);
  background: radial-gradient(circle, rgb(89, 174, 44) 0%, rgb(34, 155, 23) 100%);
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  top: 274vh;
  height:120px;
  z-index:3;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
   position: absolute;
  z-index: 3;
}

footer p {
  margin: 0;
}


footer h2, footer .footer-bottom p {
  cursor: default;
  margin: 15px;
}

footer h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

/*-------------------RESPONSIVIDADE-----------*/
@media screen and (max-width: 1560px) {
  #TelaPrincipal {
    height: 80vh; 
    padding-left:9%;
}
  

  .vid {
    margin-top:8%;
}
  
  #Descarte{
    top: 190vh;
}
  #imagemDescarte{
    top: 190vh;
    padding-left:0%;
    margin-left: 57%;
}
  footer {
  top: 264vh;
}
}
/*-------------------RESPONSIVIDADE 2-----------*/
@media screen and (max-width: 1300px) {
  #TelaPrincipal {
    height: 72vh; 
    padding-left:12%;
}
.vid {
  margin-top:4%;
  height:625px;
}
#Descarte{
  top: 188vh;
}
#imagemDescarte{
  top: 188vh;
  padding-left:0%;
  margin-left: 57%;
}
footer {
top: 262vh;
}
}





/*-------------------RESPONSIVIDADE 3-----------*/
@media screen and (max-width: 1050px) {
  #TelaPrincipal {
    height: 45vh; 
    padding-left:10%;
}
.vid {
  margin-top:0%;
  height:625px;
}
.vid iframe{
  height:290px;
  margin-bottom:15%;
} 
.Iabree{
  height:200px;
  top: 7vh;
 
}
#Descarte{
  top: 200vh;
  height:635px;
}
#imagemDescarte{
  top: 200vh;
  padding-left:0%;
  margin-left: 57%;
  height:635px;
}
footer {
  top: 266vh;
  }
}

/*-------------------RESPONSIVIDADE MOBILE iphone-----------*/
@media screen and (max-width: 750px) {


  .logo img {
    margin-left:0%;
   
  }


  .header-right ul {
    display:none;
  }

  #TelaPrincipal {
    height: 48vh; 
    padding-left:0%;
    background-image: url('img/HomeGreen.Mobile.png');
}
.vid {
  margin-top:40%;
  height:425px;
}
.vid iframe{
  height:120px;
  margin-bottom:15%;
  width:50%;
} 


.Iabree{
  top: 0vh;
 
}
  #Descarte{
    top: 190vh;
    height:635px;
    width:100%;
  }

  #imagemDescarte{
    top: 260vh;
    padding-left:0%;
    margin-left:0%;
    height:435px;
    width:100%;
  }
  #imagemDescarte img{
    height:435px;
    width:100%;
  }
  footer {
    top: 310vh;
    }

}

/*-------------------RESPONSIVIDADE MOBILE Sansung-----------*/
@media screen and (max-width: 750px) {








}

