@import url('');


 body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
 }

 /* body {
  margin: 0;
  padding:0;
  background-image: url('img/homeGreem.png');
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
/* } */
 /* topo */
 header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color:transparent;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.header-left {
  position: relative;
  width: 20%;
  min-width: 200px;
  height: auto;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
  margin-left:20%;
  border-radius:10px;

  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 6px 0px rgba(0 0 0 / 90%));

  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

}




.logo:hover{
  border: none;
  transition: none;
 animation: none;
}

.header-right {
  position: relative;
  width: 60%;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

/* 01101010 01101111 01101110  */

.header-right ul {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5%;

}

 ul li {
  float: left;
  width: auto;
  font-size: 22px;
  list-style: none;
  background-color: transparent;
  color:#ffffff;
  font-family: 'Lilita One', cursive;
  text-shadow: 1px 1px 0px black;
  cursor: pointer;
}


header a:hover {
  /*color: linear-gradient(#8e6f14,#cbb26a,#8e6f14);*/
 color: #106210;
 transition: all 1s ease;
 border: #106210 solid 1px;
 border-top:none;
 border-right:none;
 border-left:none;
 transition: all 1s;
 animation: slide-in 3s ease-out forwards;
 
}

#login{
  border: solid black 1px;
  border-radius:50px;
  height:40px;
  width: 130px;
  margin-right:4%;
  padding-bottom:6px;
  background: #106210;
  color:white;
  font-family: 'Lilita One', cursive;
  font-size: 22px;
  cursor: pointer;
  text-align:center;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
  text-decoration: none;
}

#login:hover{
  background: #90EE90;
  color:black;
  transition: all 1s;

}

#TelaPrincipal {
  background-image: url('img/homeGreem.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh; 
  position: relative; 
  z-index: 1;
}

#TelaPrincipal {
  width: 100%;
  height: flex;
}
/*tela principal*/
/* #TelaPrincipal{
  background-image: url('img/homeGreem.png');
  background-repeat: no-repeat; 
  background-size: contain;
  background-position: center center;
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
}  */

/* .vid {
  height:720px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background:transparent;
  position: absolute;
  width:100%;
  
}

.vid iframe{
  border-radius:45px;
  width:38%;
  height:320px;
  margin-bottom:3%;
  margin-left:53%;
} */

/*buscador de pontos de coleta*/

.Iabree{
  width:99%;
  position: absolute;
  height:1800px;
  top: 25vh;
  z-index: -1;
}

#abree{
  padding-top:30px;
  height:1777px;
  width:100%;
}

footer {
  background-color: #106210; 
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

footer p {
  margin: 0;
}
