@import url('');

 /* topo */
 header {
  position: relative;
  width: 100%;
  top: 0;
  height: 90px;
  display: flex;
  justify-content: space-between;
  background-color:transparent;
}

.header-left {
  position: relative;
  width: 20%;
  min-width: 200px;
  height: auto;
}

.logo img {
  width: 50%;
  margin-top: 5px;
  margin-right: 30%;
  height: 85%;
  border-radius:10px;

  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.logo:hover{
  border: none;
  transition: none;
 animation: none;
}

.header-right {
  position: relative;
  width: 60%;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

/* 01101010 01101111 01101110  */

.header-right ul {
  align-self: center;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
  gap: 5%;
}

.header-right ul li {
  float: left;
  width: auto;
  font-size: 20px;
  list-style: none;
  background-color: transparent;
}


header a:hover {
  /*color: linear-gradient(#8e6f14,#cbb26a,#8e6f14);*/
 color: #ffffff;
 transition: all 1s ease;
 border: #ffffff solid 1px;
 border-top:none;
 border-right:none;
 border-left:none;
 transition: all 5s;
 animation: slide-in 3s ease-out forwards;
}

#login{
  border: solid black 1px;
  border-radius:50px;
  height:40px;
  width: 90px;
  margin-right:2%;
  background: ;
}


/*tela principal*/
body {
  background-image: url('img/homeGreem.jpg');
  background-repeat: no-repeat; 
  background-size: 100% 800px;
} 

.vid {
  display: flex;
  padding-top: 180px;
  margin-right:4%;
  margin-left:54%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  background:transparent;
}

.vid iframe{
  border-radius:45px;
  width:700px

}
